body {
  font-size: 1.5rem;
}

/* Style the map container */
#weather-map {
   width: 100%;
   height: 25rem; /* Set the desired height*/
   border: 0.125rem solid #333;
}

/* Style all markers*/
.leaflet-marker-icon {
    background-color: #077BFF;
    color: #FFF;
}

/* Style popup content*/
.leaflet-popup-content {
    background-color: #FFF;
    color: #333;
}

/* Style a specific marker*/
.custom-marker {
    background-color: #FF5733;
}

/* Header stylised*/
.header {
    width: 68.5rem; 
    height: 8.875rem; 
    background: #FF0404;
}

/* h1 stylised*/
h1 {
    width: 57.625rem; 
    height: 6.25rem;
    text-align: center; 
    color: #F8FD11; 
    font-size: 4rem; 
    font-family: Inter; 
    font-style: italic; 
    font-weight: 700; 
    word-wrap: break-word;
    line-height: normal;
}

/* h2 stylised*/
h2 {
  width: 23.375rem;
  height: 0.9375rem;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: italic;
  line-height: normal;
}

/* subheader stylised*/
.subheader {
  width: 68.5rem;
  height: 6.0625rem;
  background: #041DFD;
}

/* links stylised*/
.links {
  width: 11.25rem;
  height: 1.375rem;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}

/* main body stylised*/
.main {
  width: 68.5rem;
height: 42.25rem;
}

/* Personal profile setion styised*/

/* Education section stylised*/

/* Additional certificates section stylised*/

/* Projects section stylised*/

/* Footer stylised*/
