body {
  font-size: 1.5rem;
}

/* Style the map container */
#weather-map {
   width: 100%;
   height: 25rem; /* Set the desired height*/
   border: 0.125rem solid #333;
}

/* Style all markers*/
.leaflet-marker-icon {
    background-color: #077BFF;
    color: #FFF;
}

/* Style popup content*/
.leaflet-popup-content {
    background-color: #FFF;
    color: #333;
}

/* Style a specific marker*/
.custom-marker {
    background-color: #FF5733;
}

/* Header stylised*/
.header {
  width: 68.5rem; 
  height: 8.875rem; 
  background: #FF0404;
}

/* Subheader stylised*/
.subheader {
   width: 57.625rem; 
  height: 6.25rem;
  text-align: center; 
  color: #F8FD11; 
  font-size: 4rem; 
  font-family: Inter; 
  font-style: italic; 
  font-weight: 700; 
  word-wrap: break-word;
}
